body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.logo .logo-web {
  color: #4d5ae5;
}

.logo .logo-studio {
  color: #2e2f42;
}

h1 {
  color: WHITE;
}

.solutions {
  background-color: #2e2f42;
}

h1 {
  text-align: center;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team h2,
.our-team h3,
.our-team p {
  text-align: center;
}

.our-team li {
  background-color: #ffffff;
}

.our-portfolio h2 {
  text-align: center;
}
