body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

a {
  text-decoration: none;
}

address a {
  display: block;
}

ul,
ol {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.logo .logo-web {
  color: #4d5ae5;
}

.logo .logo-studio {
  color: #2e2f42;
}

.nav:hover {
  color: #404bbf;
}

.address:hover {
  color: #404bbf;
}

h1 {
  color: WHITE;
}

.solutions {
  background-color: #2e2f42;
}

h1 {
  text-align: center;
}

.button {
  background-color: #4d5ae5;
  color: #ffffff;
}

.button:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.our-team {
  background-color: #f4f4fd;
}
.our-team h2 {
  font-size: 36px;
}

.our-team h2,
.our-team h3,
.our-team p {
  text-align: center;
}

.our-team li {
  background-color: #ffffff;
}

.our-portfolio h2 {
  text-align: center;
  font-size: 36px;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
}

.logo-foother {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.logo-foother .logo-foother-web {
  color: #4d5ae5;
}

.logo-foother .logo-foother-studio {
  color: #f4f4fd;
}
