body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.logo .logo-web {
  color: #4d5ae5;
}

.logo .logo-studio {
  color: #2e2f42;
}

.nav a:hover,
.nav a:focus {
  color: #404bbf;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

address a {
  font-style: normal;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address a:hover,
.address a:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

h1 {
  color: WHITE;
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}

.solutions {
  background-color: #2e2f42;
}

.button {
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
}

.button:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.our-features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team {
  background-color: #f4f4fd;
}
.our-team h2 {
  font-size: 36px;
  text-align: center;
}

.our-team h3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-team li {
  background-color: #ffffff;
}

.our-portfolio h2 {
  text-align: center;
  font-size: 36px;
}

.our-portfolio h3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
}

.footer p {
  letter-spacing: 0.02em;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.logo-footer .logo-footer-web {
  color: #4d5ae5;
}

.logo-footer .logo-footer-studio {
  color: #f4f4fd;
}
